* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    margin: 10px;
    width: 100%;
    height: 10%;
    background: pink;
    border-radius: 5%;
    color: red;
}

img {
    width: 50px;
    mix-blend-mode: multiply;
    display: inline-block;
}

h1 {
    display: inline-block;
}

#menu {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
