* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(237, 236, 236);
}

header {
    width: 100%;
    background: linear-gradient(90deg, red, black, green);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

#header-top {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#header-top img {
    width: 60px;
    height: 60px;
    /* mix-blend-mode: multiply; */
    display: inline-block;
}

#header-title {
    margin-left: 20px;
}

#header-bottom {
    height: 10vh;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-bottom img {
    height: 40px;
    display: inline-block;
}

#header-subtitle {
    margin-left: 20px;
    color: black;
}

/* Outer container */
#menu {
  background-color: rgb(240, 240, 245);
  width: 96%;
  padding: 12px;
  margin: 20px auto;
  border-radius: 40px;
  display: flex;
  justify-content: center;
}

/* UL layout */
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Each LI */
#menu li {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Tab buttons */
#menu .tab {
  width: 100%;
  padding: 12px 0;
  border-radius: 30px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

/* Hover effect */
#menu .tab:hover {
  background-color: white;
}

/* Active tab */
#menu .tab.active {
  background-color: white;
  font-weight: 600;
}

.full-width-box {
    width: 100%; 
    background-color: lightblue; /* Example background color */
    padding: 20px; /* Example padding */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    margin: 0; /* Removes default margins from the body or parent elements */
}

/* #menu {
    background-color: rgb(229, 229, 229);
    width: 96%;
    height: 6%;
    margin: 20px auto;
    border-radius: 30px;
    display: flex;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#menu a {
    margin: 10px;
    width: 33%;
    border-radius: 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
}

#menu button:focus {
    background: white;
} */

h2 {
    font-size: 1.5rem; 
    line-height: 2rem; 
    font-weight: 700; 
    color: #1f2937;
}


.page {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  background-color: pink;
  min-height: 55vh;
}
