{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(237, 236, 236);
}

header {
    width: 100%;
    background: linear-gradient(90deg, red, black, green);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

#header-top {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#header-top img {
    width: 60px;
    height: 60px;
    /* mix-blend-mode: multiply; */
    display: inline-block;
}

#header-title {
    margin-left: 20px;
}

#header-bottom {
    height: 10vh;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-bottom img {
    height: 40px;
    display: inline-block;
}

#header-subtitle {
    margin-left: 20px;
    color: black;
}

#menu {
    background-color: rgb(235, 228, 228);
    width: 80%;
    height: 10%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 1.5rem; 
    line-height: 2rem; 
    font-weight: 700; 
    color: #1f2937;
}

#workspace {
  overflow-y: hidden;
}

.page {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
} 
